{% extends 'base.html' %} {% load static %} {% block content %}

<div class="row mt-5">
  <div class="w-75 m-auto">
    <div class="card card-body">
      <p class="text-center">Are you sure you want to delete "{{ object.title}}"?</p>

      <form action=" " method="POST" class="text-center">
        {% csrf_token %}
        <a class="btn btn-warning w-25" href="{% url 'blog:post_list' %}">CANCEL</a>
        <button class="btn btn-danger w-25" type="submit" name="Confirm">YES</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
